<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu">
          UNISA Easy Mensa
        </ion-icon>
      </button>
      <ion-title text-right>
        <img alt="logo" width = 50 height= 50 src="assets/img/logo.png"> 
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="common-bg">

  <ion-grid>

        <button ion-button (click)="getLunedi()">
            <ion-icon name="search"></ion-icon> Cerca
        </button>
        <ion-item>
      <ion-label> {{lunedi}}</ion-label>
    </ion-item>
  </ion-grid>

  <ion-grid class="card" padding *ngIf="todayDate">
    <ion-row>
        <ion-col col-12>
    <ion-list>
        <ion-item *ngIf='aperto'>
            <ion-label>
              <ion-icon name="pizza"></ion-icon>
              <strong>Aperto</strong></ion-label>
          </ion-item>
          <ion-item *ngIf='!aperto'>
              <ion-icon name="close-circle"> <strong>Chiuso</strong> </ion-icon> 
          </ion-item>
      
      


      <ion-item *ngIf='aperto'>
          <ion-label>
            <ion-icon name="time"></ion-icon>
            Chiude alle 15:00</ion-label>
        </ion-item>
        <ion-item *ngIf='!aperto'>
          <ion-label>
            Riapre alle ore 12.00</ion-label>
        </ion-item>
  </ion-list>
  </ion-col>
    </ion-row>
  </ion-grid>

  



  <ion-grid class="card" padding>
    <ion-row>
      <ion-col col-6>
        <ion-list>
          <ion-item>
            <ion-label>
              <ion-icon name="person"> <strong>14</strong> </ion-icon>  {{realTimeCountPerson}}</ion-label>
          </ion-item>
          <ion-item>
            Persone in coda
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-6>
        <ion-list>
          <ion-item>
            <ion-label>
              <ion-icon name="alarm"> <strong>15 min</strong></ion-icon> {{realTimeStimaTempo}} </ion-label>
          </ion-item>
          <ion-item>
            Tempo di attesa
          </ion-item>
        </ion-list>
      </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid class="card" padding>
      <ion-row>
        <ion-col col-12>
          <ion-list>
            <ion-item>
              <ion-label class="my-font">
                <ion-icon name="alert"> <strong>1 ora</strong> </ion-icon>  {{realTimeCountPerson}}</ion-label>
            </ion-item>
            <ion-item>
                Picco di attesa dalle 13:00 alle 14:00
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12>
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-icon name="ribbon"> <strong>14:00 to 15:00 </strong></ion-icon> {{realTimeStimaTempo}} </ion-label>
            </ion-item>
            <ion-item>
                <strong> Orario consigliato {{getDay()}}</strong>
            </ion-item>
          </ion-list>
        </ion-col>
    </ion-row>
    </ion-grid>

  <ion-card>
    <ion-slides pager="true" [initialSlide]="getGiorno()">
      <ion-slide>
        <div>
          <div style="display: block">
            <p>Lunedì</p>
            <canvas baseChart  [datasets]="getValoriLunedi()" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Martedì</p>
            <canvas baseChart [datasets]="getValoriMartedi()" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Mercoledì</p>
            <canvas baseChart [datasets]="getValoriMercoledi()" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Giovedì</p>
            <canvas baseChart [datasets]="getValoriGiovedi()" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions"
              [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Venerdì</p>
            <canvas baseChart [datasets]="getValoriVenerdi()" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [colors]="chartColors" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-grid class="card" padding>
    <ion-list>
      <ion-item>
        <ion-label>
          <strong> Informazioni </strong>
        </ion-label>
      </ion-item>
      <ion-item (click)='openMaps()'> 
        <ion-label>
          <ion-icon name="pin"></ion-icon> Via della Tecnica n°1, Fisciano (SA)</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>