<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu">
          UNISA Easy Mensa
        </ion-icon>
      </button>
      <ion-title text-right>
        <img alt="logo" width = 50 height= 50 src="assets/img/logo.png"> 
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="common-bg">

  <ion-grid class="card" padding *ngIf="todayDate">
    <ion-row>
        <ion-col col-12>
    <ion-list>

        <ion-item *ngIf='aperto'>
            <ion-label>
              <ion-icon name="pizza"><strong> Mensa Aperta </strong></ion-icon>
            </ion-label>
        </ion-item>

        <ion-item *ngIf='!aperto'>
            <ion-label>
              <ion-icon name="close-circle"> <strong> Mensa Chiusa </strong> </ion-icon> 
            </ion-label>
        </ion-item>

      <ion-item *ngIf='aperto'>
          <ion-label>
            Chiude alle ore 15:00
          </ion-label>
      </ion-item>

      <ion-item *ngIf='!aperto'>
          <ion-label>
            Riapre alle ore 12.00
          </ion-label>
      </ion-item>

  </ion-list>
  </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="card" padding>
    <ion-row>
      <ion-col col-6>
        <ion-list>
          <ion-item>
            <ion-label>
              <ion-icon name="person"> <strong>{{realTimeCountPerson}}</strong> </ion-icon>  </ion-label>
          </ion-item>
          <ion-item>
            Persone <br>
            in coda
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-6>
        <ion-list>
          <ion-item>
            <ion-label>
              <ion-icon name="alarm"> <strong>{{realTimeStimaTempo}} min</strong></ion-icon> </ion-label>
          </ion-item>
          <ion-item>
            Tempo <br>
            di attesa
          </ion-item>
        </ion-list>
      </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid class="card" padding>
      <ion-row>
        <ion-col col-12>
          <ion-list>
            <ion-item>
              <ion-label class="my-font">
                <ion-icon name="alert"> <strong>{{oraTempoMassimo}}</strong> </ion-icon> </ion-label>
            </ion-item>
            <ion-item>
                Picco di attesa fino a 1 ora
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12>
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-icon name="ribbon"> <strong> {{tempoConsigliato}} </strong></ion-icon> </ion-label>
            </ion-item>
            <ion-item>
                <strong> Orario consigliato per {{getDay()}}</strong>
            </ion-item>
          </ion-list>
        </ion-col>
    </ion-row>
    </ion-grid>

  <ion-card>
    <ion-slides pager="true" [initialSlide]="getGiorno()">
      <ion-slide>
        <div>
          <div style="display: block">
            <p>Lunedì</p>
            <canvas baseChart  [datasets]="getValoriLunedi()" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Martedì</p>
            <canvas baseChart [datasets]="getValoriMartedi()" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Mercoledì</p>
            <canvas baseChart [datasets]="getValoriMercoledi()" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Giovedì</p>
            <canvas baseChart [datasets]="getValoriGiovedi()" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions"
              [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Venerdì</p>
            <canvas baseChart [datasets]="getValoriVenerdi()" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [colors]="chartColors" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-grid class="card" padding>
    <ion-list>
      <ion-item>
        <ion-label>
            <ion-icon name="pin"><strong> Dove Siamo </strong></ion-icon>
        </ion-label>
      </ion-item>
      <ion-item (click)='openMaps()'> 
        <ion-label>
            <strong> Via della Tecnica n°1, Fisciano (SA)</strong>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>

<ion-grid class="card" padding *ngIf="weather">
    <ion-list>

      <ion-row>
        <ion-item>
            <ion-icon name="umbrella"><strong> METEO {{weather.display_location.full}}</strong></ion-icon>
        </ion-item>
       </ion-row>

    <ion-row>

      <ion-col width-50 offset-25>
            <ion-item>
              <div class="icon">
                <img src="{{weather.icon_url}}" alt="weather">
              </div>
              <h1 class="temp">{{weather.temp_c}}&deg;</h1>
            </ion-item>
      </ion-col>

      <ion-col width-100>
          <ion-item>
            <strong>Umidità:</strong> {{weather.relative_humidity}}
          </ion-item>
          <ion-item>
            <strong>Visibilità:</strong> {{weather.visibility_km}}
          </ion-item>
      </ion-col>

    </ion-row>

  </ion-list>

  </ion-grid>

</ion-content>
