<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu">
          UNISA Easy Mensa
        </ion-icon>
      </button>
      <ion-title text-right>
        <img alt="logo" width = 50 height= 50 src="assets/img/logo.png"> 
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="common-bg">

  <ion-grid class="card" padding *ngIf="weather">
    <ion-list>
    <ion-item>
      <h1>
        <strong> Enjoy your Time! </strong>
      </h1>
    </ion-item>
    <ion-item>
      <h2> L'app di Ateneo consente di regolare e prevedere </h2>
      <h2>l’affluenza in mensa. </h2>
      <h2> Fatti furbo e pianifica il tuo pranzo.</h2>
    </ion-item>
    <ion-item>
      <h1>
        <strong>{{orario()}}</strong>
      </h1>
    </ion-item>
  </ion-list>
  </ion-grid>

  <ion-grid class="card" padding>
    <ion-list>

      <ion-item>
        <ion-label>
          <strong> Organizza la tua visita </strong>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="person"></ion-icon> Numero di persone in coda: {{getNumeroPersone()}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="alarm"></ion-icon> Tempo di attesa previsto: {{getStimaTempo()}}'</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="alert"></ion-icon> Picco di attesa fino a
          <strong>1h dalle 13:00 alle 14:00</strong>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-grid>


  <ion-card>
    <ion-slides pager="true" [initialSlide]="getGiorno()">
      <ion-slide>
        <div>
          <div style="display: block">
            <p>Lunedì</p>
            <canvas baseChart  [datasets]="barChartData" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Martedì</p>
            <canvas baseChart [datasets]="barChartData2" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Mercoledì</p>
            <canvas baseChart [datasets]="barChartData3" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Giovedì</p>
            <canvas baseChart [datasets]="barChartData" [colors]="chartColors" [labels]="barChartLabels" [options]="barChartOptions"
              [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <div style="display: block">
              <p>Venerdì</p>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [colors]="chartColors" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-grid class="card" padding>
      <ion-list>

      <ion-item>
        <h1>
            <ion-icon name = 'ribbon'> Top Time to eat on {{getDay()}} </ion-icon>
        </h1>
      </ion-item>
      <ion-item>
            <strong> from 14:00 to 15:00 </strong>
      </ion-item>
      
    </ion-list>
    </ion-grid>

  <ion-grid class="card" padding>
    <ion-list>
      <ion-item>
        <ion-label>
          <strong> Informazioni </strong>
        </ion-label>
      </ion-item>
      <ion-item (click)='openMaps()'> 
        <ion-label>
          <ion-icon name="pin"></ion-icon> Via della Tecnica n. 1, 84084 Fisciano SA</ion-label>
      </ion-item>
      <ion-item *ngIf='aperto'>
        <ion-label>
          <ion-icon name="time"></ion-icon>
          <strong>Aperto</strong> chiude alle 15:00</ion-label>
      </ion-item>
      <ion-item *ngIf='!aperto'>
        <ion-label>
          <ion-icon name="time"></ion-icon>
          <strong>Chiuso</strong> riapre alle ore 12.00</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>




</ion-content>